OPENSEARCH_URL=http://localhost:9200
OPENSEARCH_INDEX=company
OPENSEARCH_USER=
OPENSEARCH_PASSWORD=
OPENSEARCH_VERIFY_CERTS=false
MAX_SIZE=1001
MAX_RESULT_WINDOW=10000
BULK_SEARCH_MAX_SIZE=1
BULK_SEARCH_CHUNK_SIZE=1
BULK_SEARCH_MAX_WORKERS=8
REQUEST_TIMEOUT=60
